.section {
    margin-bottom: 20px;
    margin-top: 150px;
    & > * ~ * {
        margin-top: 70px;
    }

    &__title {
        font-size: 2rem;
        text-transform: capitalize;
        text-align: center;
    }
}
